style.css

p {
  color: red;
  text-align: center;
}
#myh1 {
  font-family: Helvetica;
  font-size: 50px;
  color: blue;
}
.green {
  color: green;
}
.center {
  text-align: center;
}
.block1 {
  margin: 10px 10px 10px 5px;
  padding: 30px;
  width: 150px;
  background-color: pink;
}
